.App {
  font-family: sans-serif;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
